$lightGreen:#b9e7e7;
.app{
    //LOGIN AND REGISTER
    .container{
        display:flex;
        align-items: center;
        justify-content: center;
        background-color: teal;
        height:100vh;
        background-color:$lightGreen;
        flex-direction: column;

        h1{
            font-size:20px;
            color:teal;
            margin-bottom:20px;
            position:relative;
            left:60px;
        }
        form{
            display:flex;
            flex-direction: column;
            padding:10px;
            background-color: white;
            width:200px;
            gap:20px;
        }
    }
}